<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <payulatam>
                <active>1</active>
                <title>PayU Latam</title>

                <order_status_new>pending</order_status_new>
                <order_status_holded>holded</order_status_holded>
                <order_status_processing>processing</order_status_processing>

                <model>Icyd\Payulatam\Model\Payulatam</model>
                <allowspecific>0</allowspecific>

            </payulatam>
        </payment>
    </default>
</config>
